@import url('https://fonts.google.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  scroll-behavior: smooth;
}
nav a{
    text-decoration: none;
    color: #fff;
}
.nav-bg{
    background: transparent;
    backdrop-filter: blur(5px);
}
.nav-bg.scrolled{
    background: rgba(255, 255, 255, .1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    backdrop-filter: blur(5px);
  
}
.nav-bg.scrolled a{
    color: #000;
}
.navbar-toggler-icon{
   color: #fff;   
}
.nav-bg.scrolled .navbar-toggler-icon{
    color: #000;   
 }
.collapse{
    border-radius: 3px;
 }
 
#navbarSupportedContent > ul > li:nth-child(n) > a{
    font-size: 1.2rem;
    padding: 0 0.8rem;
  }
  #navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #00BF85;
  }

/*-------------------   text anima 2   ---------- */

  
  #gravity {
    position: relative;
    width: 100%;
    height: 100vh;
     background: #000;
    
  }
  

  
  #title {
    position: absolute;
    font-weight: 300;
    top: 40%;
    left: 0;
    right: 0;
    margin-top: -80px;
    font-size: 130px;
    text-align: center;
    letter-spacing: 20px;
    padding-left: 20px;
    background: -webkit-linear-gradient(white, #dbdde0, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-name: animGravity;
  }
  
  #subtitle {
    position: absolute;
    font-weight: 300;
    top: 60%;
    left: 0;
    right: 0;
    font-size: 25px;
    text-align: center;
    letter-spacing: 6px;
  }
  #subtitle span {
    color: #d8d8d8;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
  }
  #subtitle span:nth-child(1) {
    animation-name: animDont;
  }
  #subtitle span:nth-child(2) {
    animation-name: animLet;
  }
  #subtitle span:nth-child(3) {
    animation-name: animGo;
  }
  

  @keyframes animGravity {
    0% {
      transform: translateY(-26px);
      opacity: 0;
    }
    30%, 80% {
      letter-spacing: 40px;
      padding-left: 40px;
      transform: translateY(0px);
      opacity: 1;
    }
    92%, 100% {
      letter-spacing: 35px;
      padding-left: 35px;
      transform: translateY(-4px);
      opacity: 0;
    }
  }
  @keyframes animDont {
    0%	, 15% {
      transform: translateY(-26px);
      opacity: 0;
    }
    35%, 80% {
      transform: translateY(0px);
      opacity: 1;
    }
    92%, 100% {
      transform: translateY(-4px);
      opacity: 0;
    }
  }
  @keyframes animLet {
    0%	, 25% {
      transform: translateY(-26px);
      opacity: 0;
    }
    45%, 80% {
      transform: translateY(0px);
      opacity: 1;
    }
    92%, 100% {
      transform: translateY(-4px);
      opacity: 0;
    }
  }
  @keyframes animGo {
    0%	, 35% {
      transform: translateY(-26px);
      opacity: 0;
    }
    55%, 80% {
      transform: translateY(0px);
      opacity: 1;
    }
    92%, 100% {
      transform: translateY(-4px);
      opacity: 0;
    }
  }
  
 
  
 
  /*--------   particles    ------------------- */
 
  
  /* ------- Arrow bounce animation --------------*/

  .arrow {
    position: absolute;
    text-align: center;
    color: #d61c59;
    top: 90%;
    left: 50%;
    
  }
  .bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  @-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }



  hr{
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    overflow: visible;
    box-sizing: content-box;
  }
 
  
  /*----------------     footer     -----------------*/

  footer{
    background: #f8f8fc;
    width: 100%;
    padding: 3rem 0;
  }
  .footer-divider{
    margin: 1rem 0;
  
  }





/* -------------------  Mobile View        ---------------------------*/

  @media screen and (max-width: 480px){
    .arrow{
      top: 85%;
      left: 46%;
    }
    #title{
        font-size: 40px;
        font-weight: 100;
    }
    #subtitle{
        font-size: 18px;
        top: 45%;
    }
    
  }




  /*----------------------------------------    otehr ------------------------------*/


  img {
    max-width: 100%; }
  
  
  /*===========================
          6.TEAM css 
  ===========================*/
  @media (max-width: 767px) {
    .team-area {
      padding-top: 75px;
      padding-bottom: 80px; } }
  
  .single-team .team-image img {
    width: 100%; }
  
  .single-team .team-content {
    width: 80%;
    margin: 0 auto;
    padding: 30px 15px;
    position: relative;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s; }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .single-team .team-content {
        padding: 30px 0; } }
    .single-team .team-content .team-name a {
      font-size: 18px;
      font-weight: 600;
      color: #121619;
      font-family: 'Hind', sans-serif;
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s; }
      .single-team .team-content .team-name a:hover {
        color: #EB3656; }
    .single-team .team-content .sub-title {
      font-size: 14px;
      color: #646464; }
    .single-team .team-content .social {
      margin-top: -35px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.4s ease-out 0s;
      -moz-transition: all 0.4s ease-out 0s;
      -ms-transition: all 0.4s ease-out 0s;
      -o-transition: all 0.4s ease-out 0s;
      transition: all 0.4s ease-out 0s; }
      .single-team .team-content .social li {
        display: inline-block;
        margin: 0 7px; }
        .single-team .team-content .social li a {
          font-size: 16px;
          color: #646464;
          width: 30px;
          height: 30px;
          line-height: 35px;
          text-align: center;
          border-radius: 50%;
          background-color: #ededed;
          -webkit-transition: all 0.4s ease-out 0s;
          -moz-transition: all 0.4s ease-out 0s;
          -ms-transition: all 0.4s ease-out 0s;
          -o-transition: all 0.4s ease-out 0s;
          transition: all 0.4s ease-out 0s; }
          .single-team .team-content .social li a:hover {
            background-color: #EB3656;
            color: #fff; }
  
  .single-team:hover .team-content {
    background-color: #fff;
    margin-top: -60px;
    -webkit-box-shadow: 0px 6px 16px 0px rgba(235, 54, 86, 0.34);
    -moz-box-shadow: 0px 6px 16px 0px rgba(235, 54, 86, 0.34);
    box-shadow: 0px 6px 16px 0px rgba(235, 54, 86, 0.34); }
    .single-team:hover .team-content .social {
      margin-top: 25px;
      opacity: 1;
      visibility: visible; }
  
  
  