@import url('https://fonts.google.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  scroll-behavior: smooth;
}

.navbar{
  width: 100%;
 background: rgba(255, 255, 255, .1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
 
}


#navbarResponsive > ul > li:nth-child(n) > a{
  font-size: 1.1rem;
  padding: 0 0.8rem;
}
#navbarResponsive > ul > li:nth-child(n) > a:hover{
  color: #00BF85;

}
#navbarResponsive > a{
  padding: 0.4rem 1.4rem;
  border-radius:30px;
}

.arrow {
  position: absolute;
  text-align: center;
  color: #d61c59;
  top: 90%;
  left: 50%;
  
}
.bounce {
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}



video{
  margin: 0%;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:visible;

}
.about-us{
  margin-top: 10%;
}
.featurette-divider{
  margin: 5rem 0;
  width: 70%;
}
hr{
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
  overflow: visible;
  box-sizing: content-box;
}
footer{
  background: #f8f8fc;
  width: 100%;
  padding: 3rem 0;
}

/*---footer divider---*/
.footer-divider{
  margin: 1rem 0;

}

@media screen and (max-width: 480px){
  #title{
    font-size: small;
    top: 15%;
  }
  #subtitle{
    font-size: small;
    top: 25%;
  }
  video{
    height: 42vh;
    transform: rotate(90deg);
  }
  .arrow{
    top: 85%;
    left: 46%;
  }
  
}
.like{
  width: 20%;
  height: 20%;
  margin: 0%;
}

/*-------------------   text anima 2   ---------- */
.webcoderskull {
  font-size: 0.5em;
}

svg {
  position: relative;
  width: 100%;
  height: 100vh;
   background: #000;
  background-size: 0.12em 100%;
  font: 16em/1 Arial;
}

.webcoderskull-1 {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 7s 1 linear;
          animation: stroke-offset 7s 1 linear;
}
.webcoderskull-1:nth-child(1) {
  stroke: #fff;
  stroke-dashoffset: 7%;
}
.webcoderskull-1:nth-child(2) {
  stroke: #cce5ff;
  stroke-dashoffset: 14%;
}
.webcoderskull-1:nth-child(3) {
  stroke: rgb(14, 115, 230);
  stroke-dashoffset: 21%;
}
.webcoderskull-1:nth-child(4) {
  stroke: #cce5ff;
  stroke-dashoffset: 28%;
}
.webcoderskull-1:nth-child(5) {
  stroke: #fff;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}


@keyframes wave{
  20%{
    border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
  }
  40%{
    border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
  }
  60%{
    border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
  }
}
#canvas{
  position: absolute;
  margin: 0%;
  overflow: hidden;
  width: 100%;
}




